doctype html
head
  script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '#{gai}', 'auto');
          ga('send', 'pageview');
  //google analytics added          
  title OnlinePgdExam - Online Exam Platform for students
  meta(charset='utf-8')
  meta(name="description" content= description ? description : '')
  meta(name="keywords" content= keywords ? keywords : '')
  meta(name="author" content= author ? author : 'DreamWeaver')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='landing/css/open-iconic-bootstrap.min.css')
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
  link(rel='stylesheet' href='landing/css/animate.css')
  link(rel='stylesheet' href='landing/css/owl.carousel.min.css')
  link(rel='stylesheet' href='landing/css/owl.theme.default.min.css')
  link(rel='stylesheet' href='landing/css/magnific-popup.css')
  link(rel='stylesheet' href='landing/css/aos.css')
  link(rel='stylesheet' href='landing/css/ionicons.min.css')
  link(rel='stylesheet' href='landing/css/bootstrap-datepicker.css')
  link(rel='stylesheet' href='landing/css/jquery.timepicker.css')
  link(rel='stylesheet' href='landing/fonts/flaticon/font/flaticon.css')
  link(rel='stylesheet' href='landing/css/icomoon.css')
  link(rel="stylesheet", href="css/jssocials-theme-flat.css")
  link(rel="stylesheet", href="css/jssocials.css")
  link(rel='stylesheet' href='landing/css/style.css')
  link(rel="stylesheet", href="css/main.min.css")
  body
    block header
      include ./includes/nav
    //nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
    //s.container
      a.navbar-brand(href='index.html') OnlinePgdExam
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
        span.oi.oi-menu
        |  Menu
      #ftco-nav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/about-us') About
          li.nav-item
            a.nav-link(href='/exam') Exam
          li.nav-item
            a.nav-link(href='/exam') Demo
          li.nav-item
            a.nav-link(href='exam') Help
          li.nav-item
            a.nav-link(href='/user/login') Login
          li.nav-item
            a.nav-link(href='/user/signup') Sign Up
      // END nav
    //- #share-wrapper-vert
    //-   #share-vert
    //- #share-wrapper-hori
    //-   #share-hori
    #share-popup
      button.btn.btn-primary(data-toggle="popover") Share #[i.fas.fa-share-alt]         
    .hero-wrap.ftco-degree-bg(style="background-image: url('landing/images/bg_1.jpg');" data-stellar-background-ratio='0.5')
      .overlay
      .container
        .row.no-gutters.slider-text.justify-content-center.align-items-center
          .col-lg-8.col-md-6.ftco-animate.d-flex.align-items-end
            .text.text-center
              h1.mb-4
                | Online Post Graduation 
                br
                | Exam Center
              p(style='font-size: 18px;')
                | This is an online Exam practice platform for medical students. To be ahead in the competitive Post graduation examination, You can practise here anytime and anywhere.
              form.search-location.mt-md-5(action="/search" method="GET")
                .row.justify-content-center
                  .col-lg-10.align-items-end
                    .form-group
                      .form-field
                        input.form-control(name="searchText" type='text' placeholder='Search topics' aria-label="Search")
                        button
                          span.ion-ios-search
      .mouse
        a.mouse-icon(href='#')
          .mouse-wheel
            span.ion-ios-arrow-round-down
    section.ftco-section.ftco-no-pb
      .container
        .row.justify-content-center
          .col-md-12.heading-section.text-center.ftco-animate.mb-5
            span.subheading Our Services
            h2.mb-2 The smartest way to practice for examination
        .row.d-flex
          .col-md-3.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.d-block.text-center
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-hourglass
              .media-body.py-md-4
                h3 No Wastage of Time
                p
                  | You can practice examination immediately without wasting your valuable time
          .col-md-3.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.d-block.text-center
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-24-hours
              .media-body.py-md-4
                h3 24 X 7 Hours Open
                p
                  | You can give exam at anytime. whether it is day or night.
          .col-md-3.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.d-block.text-center
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-airplane
              .media-body.py-md-4
                h3 From anywhere
                p
                  | Do not warry about place. We are at your door. 
          .col-md-3.d-flex.align-self-stretch.ftco-animate
            .media.block-6.services.d-block.text-center
              .icon.d-flex.justify-content-center.align-items-center
                span.flaticon-trophy
              .media-body.py-md-4
                h3 High Level Perfection
                p
                  | We try our best to make errorless questions and its explanation.

    section.ftco-section.ftco-degree-bg.services-section.img.mx-md-5(style='background-image: url(landing/images/bg_2.jpg);')
      .overlay
      .container
        .row.justify-content-start.mb-5
          .col-md-6.text-center.heading-section.heading-section-white.ftco-animate
            span.subheading Work flow
            h2.mb-3 How it works
        .row
          .col-md-6
            .row
              .col-md-12.col-lg-6.d-flex.align-self-stretch.ftco-animate
                .media.block-6.services.services-2
                  .media-body.py-md-4.text-center
                    .icon.mb-3.d-flex.align-items-center.justify-content-center
                      span 01
                    h3 Sign Up
                    p
                      | For first time sign up. Then login.
              .col-md-12.col-lg-6.d-flex.align-self-stretch.ftco-animate
                .media.block-6.services.services-2
                  .media-body.py-md-4.text-center
                    .icon.mb-3.d-flex.align-items-center.justify-content-center
                      span 02
                    h3 Choose Exam Topic
                    p
                      | Explore our platform for exam. Choose the desired one.
              .col-md-12.col-lg-6.d-flex.align-self-stretch.ftco-animate
                .media.block-6.services.services-2
                  .media-body.py-md-4.text-center
                    .icon.mb-3.d-flex.align-items-center.justify-content-center
                      span 03
                    h3 Start Exam
                    p
                      | Click on 'Take Exam' button.
              .col-md-12.col-lg-6.d-flex.align-self-stretch.ftco-animate
                .media.block-6.services.services-2
                  .media-body.py-md-4.text-center
                    .icon.mb-3.d-flex.align-items-center.justify-content-center
                      span 04
                    h3 End Exam When Finish 
                    p
                      | To finish exan click on 'End Exam' and choose 'Yes' Drop down menu.
    section.ftco-section.ftco-no-pb
      .container
        .row.no-gutters
          .col-md-6.p-md-5.img.img-2.d-flex.justify-content-center.align-items-center(style='background-image: url(landing/images/demo.jpg);')
          .col-md-6.wrap-about.py-md-5.ftco-animate
            .heading-section.p-md-5
              h2.mb-4 Demo
              p Want to test our platform. We make an easy online system for exam and tracking your progress. Do not want more talk! Then...
              p.lead  
                a.btn.btn-outline-warning.btn-lg.text-dark(href="/exam/demo" role="button") Start Practice.. 
              p But it is just a demo. #[a(href="/user/signup") Sign up] for more.
                //| We try our best to make less error and provide correct information. so that, you can learn the right. By providing you with the real exam environment, you can test yourself. You can find out your lacking and keep work on it. 

    section.ftco-section.ftco-no-pt
      .container.mt-5
        .row.justify-content-center.mb-5
          .col-md-7.heading-section.text-center.ftco-animate
            span.subheading Exam
            h2 Featured Exam On
        .row.d-flex
          .col-md-3.d-flex.ftco-animate
            .blog-entry.justify-content-end
              .text
                h3.heading
                  a(href='/exam/category/Medicine') Medicine
                .meta.mb-3
                  div
                    a(href='#') July. 24, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                a.block-20.img(href='/exam/category/Medicine' style="background-image: url('landing/images/image_1.jpg');")
                p
                  | Its of questions will come from it. So make a good knowledge and furnish it.
          .col-md-3.d-flex.ftco-animate
            .blog-entry.justify-content-end
              .text
                h3.heading
                  a(href='/exam/category/Surgery') Surgery
                .meta.mb-3
                  div
                    a(href='#') July. 24, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                a.block-20.img(href='/exam/category/Surgery' style="background-image: url('landing/images/image_2.jpg');")
                p
                  | Both anatomy and theoretical knowledge of surgery is key for success to surgeon.
          .col-md-3.d-flex.ftco-animate
            .blog-entry.justify-content-end
              .text
                h3.heading
                  a(href='/exam/category/Physiology') Physiology
                .meta.mb-3
                  div
                    a(href='#') July. 24, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                a.block-20.img(href='/exam/category/Physiology' style="background-image: url('landing/images/image_3.jpg');")
                p
                  | Always important topic for examination. The mechanism of human being should be practiced well.
          .col-md-3.d-flex.ftco-animate
            .blog-entry.justify-content-end
              .text
                h3.heading
                  a(href='/exam/category/Anatomy') Anatomy
                .meta.mb-3
                  div
                    a(href='#') July. 24, 2019
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                a.block-20.img(href='/exam/category/Anatomy ' style="background-image: url('landing/images/image_4.jpg');")
                p
                  | Most important questions about human body are discussed here.
    footer.ftco-footer.ftco-section
      .container
        .row.mb-5
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 OnlinePgdExam
              p Online Exam Platform For Medical Students.
              ul.ftco-footer-social.list-unstyled.mt-5
                li.ftco-animate
                  a(href='#')
                    span.icon-twitter
                li.ftco-animate
                  a(href='https://www.facebook.com/Online-Post-graduation-Exam-Center-101342601323218/')
                    span.icon-facebook
                li.ftco-animate
                  a(href='#')
                    span.icon-instagram
          .col-md
            .ftco-footer-widget.mb-4.ml-md-4
              h2.ftco-heading-2 Community
              ul.list-unstyled
                li
                  a(href='#')
                    span.icon-long-arrow-right.mr-2
                    | Concepts
                li
                  a(href='#')
                    span.icon-long-arrow-right.mr-2
                    | For Job Seekers
                li
                  a(href='#')
                    span.icon-long-arrow-right.mr-2
                    | Reviews
                li
                  a(href='/help')
                    span.icon-long-arrow-right.mr-2
                    | FAQs
          .col-md
            .ftco-footer-widget.mb-4.ml-md-4
              h2.ftco-heading-2 About Us
              ul.list-unstyled
                li
                  a(href='#')
                    span.icon-long-arrow-right.mr-2
                    | Our Story
                li
                  a(href='#')
                    span.icon-long-arrow-right.mr-2
                    | Meet the team
                li
                  a(href='#')
                    span.icon-long-arrow-right.mr-2
                    | Careers
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Company
              ul.list-unstyled
                li
                  a(href='/about-us')
                    span.icon-long-arrow-right.mr-2
                    | About Us
                li
                  a(href='#')
                    span.icon-long-arrow-right.mr-2
                    | Press
                li
                  a(href='#')
                    span.icon-long-arrow-right.mr-2
                    | Contact
                li
                  a(href='#')
                    span.icon-long-arrow-right.mr-2
                    | Careers
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Have a Questions?
              .block-23.mb-3
                ul
                  li
                    span.icon.icon-map-marker
                    span.text Dhaka, Bangladesh
                  li
                    a(href='#')
                      span.icon.icon-phone
                      span.text 
                  li
                    a(href='#')
                      span.icon.icon-envelope.pr-4
                      span.text info@onlinepgdexam.com
        .row
          .col-md-12.text-center
            p
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.icon-heart.color-danger(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com' target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    // loader
    #ftco-loader.show.fullscreen
      svg.circular(width='48px' height='48px')
        circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
        circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
    script(src='landing/js/jquery.min.js')
    script(src='landing/js/jquery-migrate-3.0.1.min.js')
    script(src='landing/js/popper.min.js')
    script(src='landing/js/bootstrap.min.js')
    script(src='landing/js/jquery.easing.1.3.js')
    script(src='landing/js/jquery.waypoints.min.js')
    script(src='landing/js/jquery.stellar.min.js')
    script(src='landing/js/owl.carousel.min.js')
    script(src='landing/js/jquery.magnific-popup.min.js')
    script(src='landing/js/aos.js')
    script(src='landing/js/jquery.animateNumber.min.js')
    script(src='landing/js/bootstrap-datepicker.js')
    script(src='landing/js/jquery.timepicker.min.js')
    script(src='landing/js/scrollax.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
    script(src='landing/js/google-map.js')
    script(src="js/jssocials.js")
    script(src='landing/js/main.js')
    script(src='js/main.js')
